main>.banner>img{
    width: 100%;
}

main> .shop,main> .photos ,main> .lizard{
    margin: 0 auto;
}
main> .shop>.title>h2,main> .photos>.title>h2,main> .lizard>.title>h2{
 padding-top: 50px;
 width:100%;
 text-align: center;
 font-size: 26px;
 height: 30px;
 line-height: 30px;
}

main> .shop>.title>p,main> .photos>.title>p,main> .lizard>.title>p{
    color: #999;
    width:100%;
    margin-bottom: 30px;
    text-align: center;
}

main> .shop>.tips>.pet-list{
    width: 220px;
    padding-bottom: 50px;
}
main> .shop>.tips>.pet-list>ul>li{
    color: #666;
    width: 220px;
    height: 63px;
    line-height: 63px;
    background: #ECECEC;
    text-align: center;
    font-size: 15px;
    border-bottom: #fff 1px solid;
}

main> .shop>.tips>.pet-list>ul>.active{
    background: black;
    color: white;
}

main> .shop>.tips>.pick{
    width: 950px;
    background: url(/img/chongwu.jpg) no-repeat;
    height: 500px;
}

main> .shop>.news{
    padding-bottom: 50px;
}
main> .shop>.news>.dynamic{
    height: 337px;
    width: 785px;
    
}

main> .shop>.news>.dynamic>div>h2,main> .shop>.news>.question>div>h2{
    font-size: 18px;
    color: black;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding-bottom: 10px; 
}
main> .shop>.news>.dynamic>div>span,main> .shop>.news>.question>div>span{
    display: block;
    width: 80px;
    height: 1px;
    background: black;
    bottom: 0;
    left: 0;
    position: absolute;
}

main> .shop>.news>.dynamic>.content{
    padding-top: 20px;
}

/* main> .shop>.news>.dynamic>.content>.ads{
    
} */
main> .shop>.news>.dynamic>.content>.ads>a{
    font-size: 15px;
    padding: 15px 0 5px;
    color: #333;
}

main> .shop>.news>.dynamic>.content>ul>li{
    width: 363px;
    height: 30px;
    padding: 2px 5px;
    border-bottom: #ddd 1px dashed;
}

main> .shop>.news>.dynamic>.content>ul>li>a{
    color: #333;
    height: 30px;
    line-height: 30px;
    float: left;
}
main> .shop>.news>.dynamic>.content>ul>li>span{
    height: 30px;
    line-height: 30px;
    color: #999;
    float: right;
    font-size: 13px;
}


main> .shop>.news>.question{
    width: 349px;
}

main> .shop>.news>.question>ul{
    padding-top: 20px;
}
main> .shop>.news>.question>ul>li{
    margin-bottom: 30px;
}

main> .shop>.news>.question>ul>li>h3>a{
    font-size: 15px;
    color: #333;
}
main> .shop>.news>.question>ul>li>p{
    color: #999;
    width: 100%;
    height: 38px;
    padding-top: 10px;
}


main> .photos>section{
    width: 100%;
}
main> .photos>section>ul{
    margin: 0 auto;
    height: 44px;
}

main> .photos>section>ul>li{
    color: black;
    padding: 0 10px;
    height: 44px;
    line-height: 44px;
    float: left;
    cursor: pointer;
}
main> .photos>ul{
    width: 1200px;
    margin-top: 20px;
}
main> .photos>ul>li{
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-bottom: 4%;
}

main> .photos>ul>.right{
    margin-right: 0;
}

main> .photos>ul>li>a>img{
    width: 360px;
    height: 250px;
}
main> .photos>ul>li>.title{
    width: 360px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

main> .lizard{
    height: 658px;
    background: url("/img/bg_lizard.jpg") no-repeat 50% 50%;
}

main> .lizard>.title>h2{
    color: white;
}


main> .lizard>ul{
    margin: 0 auto;
}

main> .lizard>ul>li{
    float: left;
    width: 23%;
    margin-right: 2.6%;
    margin-bottom: 2.6%;
}


main> .lizard>ul>li>a>img{
    width: 276px;
    height: 191px;
}
main> .lizard>ul>li>.title{
    background: black;
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

main> .lizard>ul>.right{
    margin-right:0;
}
